<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="logs/nlog-internal.log">
  <targets>
    <target xsi:type="File"
            name="session"
            fileName="${gdc:item=LogDirectory}/UCR-${gdc:item=SessionId}.log"
            layout="${longdate} ${uppercase:${level}} [P${processid}:T${threadid}] ${logger} - ${message} ${exception:format=ToString}"
            encoding="utf-8"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveAboveSize="10485760"
            archiveFileName="${gdc:item=LogDirectory}/archive/UCR-${gdc:item=SessionId}.{#}.log"
            archiveNumbering="Sequence"
            maxArchiveFiles="20" />
    <target xsi:type="File"
            name="errors"
            fileName="${gdc:item=LogDirectory}/UCR-errors.log"
            layout="${longdate} ${uppercase:${level}} session=${gdc:item=SessionId} [P${processid}:T${threadid}] ${logger} - ${message} ${exception:format=ToString}"
            encoding="utf-8"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveAboveSize="10485760"
            archiveFileName="${gdc:item=LogDirectory}/archive/UCR-errors.{#}.log"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="session" />
    <logger name="*" minlevel="Warn" writeTo="errors" />
  </rules>
</nlog>
